body {
    background-color: lightgrey;
}

h1 {
    color: darkblue;
}
h1 {
    text-align: center;
}

h2 {
    color: green;
}

h2:hover {
    color: lightcoral;
}

p {
    color: darkgrey;
}

section {
    background-color: white;
}

a {
    color: red;
}

a:hover {
    color: blue;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color:rgb(235, 235, 241);
    border-radius: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}