body {
    background-color: lightgrey;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

h2 {
    color: green;
    text-align: center;
    margin-bottom: 15px;
}

h2:hover {
    color: lightcoral;
}

p {
    color: darkgrey;
    line-height: 1.6;
}

section {
    background-color: white;
    padding: 20px;
    margin: 40px;
}

a {
    color: red;
}

a:hover {
    color: blue;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color:rgb(235, 235, 241);
    border-radius: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.bouton {
    background-color: darkblue;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
}

.fidget .bouton {
    background-color: green;
}
.fidget .bouton:hover {
    background-color: black;
}

.fidget {
    padding: 15px;
    border: 1px solid lightgrey;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.fidget:hover {
    transform: scale(1.03);
}

.fidget h3 {
    font-size: 20px;
}
