body {
    background-color: lightgrey;
}

h1 {
    color: darkblue;
}

h2 {
    color: green;
}

p {
    color: darkgrey;
}

section {
    background-color: white;
}

a {
    color: red;
}

a:hover {
    color: blue;
}